.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers__list {
    display: flex;
}

.customers__item {
    width: 170px;
    height: 92px;
    background-position: center;
    background-size: 106px;
    background-repeat: no-repeat;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $main-blue-color;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.customers__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $main-blue-color;
        border-color: $main-blue-color;
    }
}
