.header__logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
}

.header__logo--black {
    color: $main-black-color;
}

.header__logo--blue {
    color: $main-blue-color;
}

.header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-bottom: 1px solid $border-bottom-color;
}

.menu {
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.menu .menu__item {
    margin-right: 50px;
}

.menu .menu__item:last-child {
    margin-right: 0;
}

.menu .menu__link {
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu__link:hover,
.menu__link:focus {
    color: $main-blue-color;
}

.menu__link {
    color: $main-black-color;
    width: 72px;
    height: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 0, 87;
    letter-spacing: 0.02em;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link.menu__link--current {
    color: $main-blue-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link.menu__link--current::after {
    content: "";
    position: absolute;
    background-color: $main-blue-color;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -3px;
    cursor: default;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts .contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts .contacts__item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.contacts .contacts__item:last-child {
    margin-right: 0;
}

.contacts__link {
    display: flex;
    color: $main-broun-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    cursor: pointer;
    color: $main-blue-color;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    cursor: pointer;
    fill: $main-blue-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
    margin-right: 10px;
    fill: $main-broun-color;
}
