.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}

.hero__title {
    margin-top: 200;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-white-color;
}

.hero__button {
    min-width: 216px;
    height: 50px;
    background-color: $main-blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $main-white-color;
    /* padding: 10px 32px; */
    text-align: center;
}

body .hero__button:hover,
body .hero__button:focus {
    background-color: $main-btn-color;
    color: $main-blue-color;
    cursor: pointer;
}
